.credit-check {
    &-container {
        background-image: url('../../assets/images/background-image-large.jpg');
        width: 100%;
        min-height: 100vh;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}